<div id="chart"></div>

<div id="answer">
	<h3>Question <var id="qnum"></var> out of <var id="qtotal"></var></h3>
	<h2 class="question" id="name"></h2>
	<div id="timer"></div>
	
	<div class="img"><img id="image" width="300" /></div>
	
	<div id="response">
	
	</div>
	
	<button id="submit">Submit</button> <a class="button1" id="next">Next</a>
</div>

<div id="messages">

</div>

<div id="feedback">
	<h2>Question Feedback</h2>
	<textarea id="feedback-resp"></textarea>
	<button id="feedback-sub">Submit</textarea>
</div>

<div id="help">
<p>Answer the questions provided. You may submit before going to the next question by pressing 'Submit'. You may submit and go to the next question by pressing 'Next'.</p>

<p>Some polls may be live meaning you can only submit the question and must wait for the Poll Master to select the next question. The page will automatically go to the next question.</p>
</div>