<label>Username: <input type="text" id="uname" /></label>
<label>Poll: <select id="upoll"></select></label>
<label>Role: 
<select id="urole">
	<option value="1">Web User</option>
    <option value="2">Key User</option>
    <option value="3">Poll Master</option>
    <option value="4">Poll Creator</option>
    <option value="5">Poll Admin</option>
    <option value="6">System Admin</option>
</select>

</label>

<button id="subm">Assign</button>

<div id="help">
<p>Assign a Username to a poll giving a specific role on that poll.</p>
<p>You may only assign a user a role the same as your own or less, never higher.</p>
</div>