<div id="applet"></div>
<div id="messages">
	<label>To: <input type="text" id="to" /></label>
	<label>Poll: <select id="poll"></select></label>
	<textarea id="messg"></textarea>
	<button id="send">Send</button>
</div>

<div id="help">
Conduct a poll by selecting the poll and scrolling through the questions. You may send messages to a specific user (private) or to all participants (public). Enter the username
of the user for a private message or to send a public message to all participants leave the username field blank.
</div>