<div id="editpoll">

<h1>Edit Poll Questions</h1>

<button id="newq"><img src="assets/images/add.png" /> New Question</button>
<select id="template">
	<option value="">Custom</option>
	<option value="Yes,No,Abstain">Yes/No/Abstain</option>
	<option value="True,False">True/False</option>
	<option value="Strongly Agree,Agree,Neutral,Disagree,Strongly Disagree">Opinion 5</option>
	<option value="Strongly Agree,Agree,Sort of Agree,Neutral,Sort of Disagree,Disagree,Strongly Disagree">Opinion 7</option>
</select>

<!-- List of Questions, should be saved in the DB as soon as New Question is clicked -->
<div class="question">
	<button class="remq"><img src="assets/images/cross.png" /></button>
	<input type="hidden" class="qid" value="-1" />
	<input type="text" class="qname" />

	<select class="qformat">
		<option value="MultiResponse_Alpha">Multiple Response (Alpha)</option>
		<option value="MultiResponse_Numeric">Multiple Response (Numeric)</option>
		<option value="SingleResponse_Alpha">Single Response (Alpha)</option>
		<option value="SingleResponse_Numeric">Single Response (Numeric)</option>
		<option value="ShortAnswer">Short Answer</option>
	</select>

	<label><input type="checkbox" class="comparitivebox" /> Comparitive</label>
	<label><input type="checkbox" class="rankingbox" /> Ranking</label>
	<label><input type="checkbox" class="demographicbox"/> Demographic</label>
	
	<span class="error"></span>
	<button class="saveq"><img src="assets/images/disk.png" /> Save</button>
	<div class="clearer"></div>
	<div class="indent"></div>
	
	<div class="extras comparitive">
		<h3>Comparitive</h3>

		<!-- this select should have a list of previous questions created in this very form
			 hence why they need to be stored immediately and this select updated -->
		<select class="compare">
			<option value="NULL">Select a previous Question</option>
		</select>
	</div>
	
	<div class="extras">
		<h3>Chart</h3>
		<select class="chart">
			<option value="pie">Pie</option>
			<option value="bar">Vertical Bar</option>
			<option value="hbar">Horizontal Bar</option>
		</select>
	</div>
	
	<div class="extras">
		<h3>Font</h3>
		<input type="text" class="font" />
	</div>
	
	<div class="extras">
		<h3>Image</h3>
		<input type="text" class="image" />
	</div>

	<div class="extras">
		<h3>Correct Indicator</h3>
		<input type="text" class="indicator" />
	</div>
	
	<div class="extras">
		<h3>Widget</h3>
		<select class="widget" multiple="multiple">
			<option value="1">Countdown Timer</option>
			<option value="2">Response Counter</option>
		</select>
	</div>
	
	<div class="clearer"></div>
	
	<div>

	<blockquote>
		
		<h3>Responses</h3>
		
		<button class="newr"><img src="assets/images/add.png" /> New Response</button>
		
		<!-- list of responses. limit to 10 for multiple choice -->
		<div class="responses">
			<div class="response">
				<button class="remr"><img src="assets/images/cross.png" /></button>
				<input type="hidden" class="aid" value="-1" />
				<input type="text" class="resptext" />
				<select class="keypad">
					<option value="NULL">---</option>
					<option value="1">A 1</option>
					<option value="2">B 2</option>
					<option value="3">C 3</option>
					<option value="4">D 4</option>
					<option value="5">E 5</option>
					<option value="6">F 6</option>
					<option value="7">G 7</option>
					<option value="8">H 8</option>
					<option value="9">I 9</option>
					<option value="0">J 0</option>
				</select>
				<label><input type="checkbox" class="correct" /> correct</label>
				<label class="ranking"><input type="text" size="2" class="weight" /> weight</label>
				
				<span class="error"></span>
				<button class="saver"><img src="assets/images/disk.png" /> Save</button>
			</div>
		</div>
	</blockquote>
	</div>
</div>

</div>