<h2>Home</h2>

<h3>Polls</h3>

<a class="col pm" href=":ConductPoll">
<img src="assets/images/checklist.png" />
<span>Conduct</span>
</a>

<a class="col pm" href=":Location">
<img src="assets/images/globe.png" />
<span>Location</span>
</a>

<a class="col pa" href=":ManagePolls">
<img src="assets/images/piechart.png" />
<span>Manage Polls</span>
</a>

<a class="col wu" href=":PollIndex">
<img src="assets/images/poll.png" />
<span>Poll Index</span>
</a>

<a class="col pc" href=":AssignedPolls">
<img src="assets/images/poll.png" />
<span>Assigned Polls</span>
</a>

<div class="clearer"></div>

<h3>Users</h3>

<a class="col sa" href=":ManageUsers">
<img src="assets/images/users.png" />
<span>Manage Users</span>
</a>

<!--
<a class="col inactive">
<img src="assets/images/communication.png" />
<span>Messages</span>
</a>


<a class="col inactive">
<img src="assets/images/gear.png" />
<span>Settings</span>
</a>
-->

<a class="col" href=":Logout">
<img src="assets/images/unlock.png" />
<span>Logout</span>
</a>

<div class="clearer"></div>

<h3>Reports</h3>

<a class="col pm" href=":Generate">
<img src="assets/images/reports.png" />
<span>Generate</span>
</a>

<div id="help">
Select an icon in the groups to access part of the system.
</div>