<h2>Change Location</h2>

<label>Poll: 
<select id="poll">
</select>
</label>
<label>Location: 

<div id="map"></div>

</label>
<button id="submit">Change Location</button>

<div id="help">
Change the Geographical location of a poll by selecting it in the drop down menu and clicking the map to select an area. Scroll with the mouse wheel to 
zoom in on the map for finer position of the location.
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true&callback=init"></script>