<script src="assets/jquery.timeago.js" type="text/javascript"></script>

<div>
<h2>Present</h2>
<table id="present"><tr><th>Name</th><th>Description</th><th>Start</th><th>Finish</th><th>Completed</th></tr></table>
</div>

<div>
<h2>Future</h2>
<table id="future"><tr><th>Name</th><th>Description</th><th>Start</th><th>Finish</th><th>Completed</th></tr></table>
</div>

<div>
<h2>Past</h2>

<table id="past"><tr><th>Name</th><th>Description</th><th>Start</th><th>Finish</th><th>Completed</th></tr></table>
</div>

<div id="help">
<p>List of all the polls you are able to participate in.</p>

<p>All polls in the Present have started. The completed column will have a tick if you have already completed the poll.</p>

<p>All polls in the Future are going to start but are not yet open.</p>

<p>All polls in the Past have already been started and finished. You may still give responses</p>
</div>