<div id="answer">
	<h3>Question <var id="qnum"></var> out of <var id="qtotal"></var></h3>
	<h2 class="question" id="name"></h2>
	<div id="timer"></div>
	
	<div class="img"><img id="image" width="300" /></div>
	
	<div id="response">
	
	</div>
	
	<button id="submit">Submit</button> <a class="button1" id="next" href=":AnswerQuestion/q/">Next</a>
</div>

<div id="chart">

</div>

<div id="feedback">
	<h2>Question Feedback</h2>
	<textarea id="feedback-resp"></textarea>
	<button id="feedback-sub">Submit</textarea>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi?callback=init"></script>