<h2>Create User</h2>
<div class="form">
<label>Username: <input type="text" class="username" /></label>
<label>Password: <input type="text" class="password" /></label>
<label>Email: <input type="text" class="email" /></label>
<label>Role: <select class="role"><option value="5">System Admin</option><option value="4">Poll Admin</option></select></label>
<label class='exp'>Expiry: <input type="text" class="expiry" /></label>
<button id="create">Create</button>
</div>

<h2>Edit User</h2>
<label>Username: <input type="text" class="username" /><button id="edit">Edit</button></label>
<div id="editbox">
<label>Password: <input type="text" class="password" /></label>
<label>Email: <input type="text" class="email" /></label>
<label>Role: <select class="role"><option value="5">System Admin</option><option value="4">Poll Admin</option></select></label>
<label class='exp'>Expiry: <input type="text" class="expiry"/></label>
<button id="modify">Update Changes</button>
</div>

<h2>Remove User</h2>
<label>Username: <input type="text" class="username" /><button id="remove">Remove</button></label>
